<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <!-- Bootstrap -->
  <link href="css/bootstrap-4.0.0.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
  <!-- body code goes here -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark"><a class="navbar-brand" href="#">Cinema E Booking</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			  <li class="nav-item active">
				  <a class="nav-link" href="#" th:href="@{/index}">Home <span class="sr-only">(current)</span></a>
			  </li>
			   <!-- <li class="nav-item" th:switch="${user.loggedIn}">
				  <a th:case="false" class="nav-link" href="#" th:href="@{/register}">Registration</a>
			  </li>
			  <li class="nav-item" th:switch="${user.loggedIn}">
				  <a th:case="false" class="nav-link" href="#" th:href="@{/login}">Login</a>
			  </li>
			  <li class="nav-item" th:switch="${user.loggedIn}">
				  <a th:case="true" class="nav-link" href="#" th:href="@{/editInfo}">Edit Info</a>
			  </li>
			  <li class="nav-item" th:switch="${user.isAdmin}">
				  <a th:case="true" class="nav-link" href="#" th:href="@{/admin}">Admin</a>
			  </li>
			  <li class="nav-item" th:switch="${user.loggedIn}">
				  <a th:case="true" class="nav-link" href="#" th:href="@{/logout}">Logout</a>
			  </li> -->
		  </ul>
		  <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/search}"  method="get">
			  <input name = "search" class="form-control mr-sm-2" type="search" value="" placeholder="Search" aria-label="Search">
			  <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
		  </form>
	  </div>
  </nav>

  <div class="container">
	  <br>
	  
	  <div class="row">
	  	<h3><b>Basic Movie Info</b></h3>
	  </div>
	  
	  <br>

	  <!-- Header Row -->
	  <div class="row" style="text-align: center;">
	  	<div class="col-sm-3">
			<h4><b>Poster</b></h4>
		  </div>
	  	<div class="col-sm-3">
			<h4><b>Title</b></h4>
		  </div>
		<div class="col-sm-2">
		  <h4><b>Summary</b></h4>
		  </div>
		<div class="col-sm-2">
		  	<h4><b>Movie Info</b></h4>
		  </div>
		<div class="col-sm-2">
		  
		  </div>
	  </div>
	  <!-- End Header Row -->

	  <!-- Pull the list of current movies from DB and display here -->
	  <div th:each="movie: ${movieList}">
	  	  <div class="row" style="text-align: center;">
		  <div class="col-sm-3">
			  <img th:attr="src=@{|images/${movie.image}|}" style="max-height: 250px;">
		  </div>

		  <div class="col-sm-3" style="transform: translateY(50%);">
			  <h4 th:text="${movie.movieTitle}"></h4>
		  </div>

		  <div class="col-sm-2">
			  <span th:text="${movie.synopsis}"></span>
		  </div>

		  <div class="col-sm-2">
			  <div>
				  <span><b>Director:</b></span>
				  <span th:text="${movie.director}"></span>
			  </div>

			  <div>
				  <span><b>Producer:</b></span>
				  <span th:text="${movie.producer}"></span>
			  </div>

			  <div>
				  <span><b>Cast:</b></span>
				  <span th:text="${movie.cast}"></span>
			  </div>
		  </div>

		  <div class="col-sm-2" style="transform: translateY(50%);">
			  <a href="editMovie.html"><button class="btn-active">Edit Movie</button></a>
		  </div>
	  </div>
		  <br>
	  </div>
	  <!-- End Current Movie List -->

	  <!-- Add Movie Button -->

	  
  </div>
	<!-- End Container -->


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="js/jquery-3.2.1.min.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap-4.0.0.js"></script>
</body>

</html>